body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}
/* 小米商城顶部样式 */
.site-topbar{
    width: 100%;
    height: 40px;
    background-color: #333;
}
.container{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.site-topbar .topbar-list{
    float: left;
}
.site-topbar .login{
    float: right;
}
.site-topbar .shop{
    float: right;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #b0b0b0;
    background-color: #424242;
    margin-left: 15px;
    width: 120px;
}
.site-topbar a{
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
}
.site-topbar .shop a{
    width: 120px;
    height: 40px;
    display: inline-block;
}
.site-topbar a:hover{
    color: #fff;
}
.site-topbar span{
    color: #424242;
    margin: 0 .5em;
}

/* 小米商城导航栏样式 */
.site-header{
    height: 100px;
}
.site-header .site-logo{
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .site-logo a{
    display: block;
    width: 56px;
    height: 56px;
}
.site-header .site-logo img{
    width: 56px;
    height: 56px;
}
.site-header .site-list{
    width: 850px;
    float: left;
}
.site-header .site-list>ul{
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}
.site-header .site-list>ul>li{
    float: left;
}
.site-header .site-list>ul>li>a{
    display: block;
    padding: 26px 10px 45px;
    color: #333;
}
.site-header .site-list>ul>li>a:hover{
    color: #ff6700;
}
.site-header .site-list .site-category{
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}
.site-header .site-list .site-category .category-list{
    position: absolute;
    top: 95px;
    left: -92px;
    width: 234px;
    height: 460px;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
}
.site-header .site-list .site-category .category-list>ul{
    height: 420px;
    padding: 20px 0px;
}
.site-header .site-list .site-category .category-list>ul>li{
    width: 234px;
    height: 42px;
}
.site-header .site-list .site-category .category-list>ul a{
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 30px;
    position: relative;
}
.site-header .site-list .site-category .category-list>ul a:hover{
    background-color: #ff6700;
}
.site-header .site-list .site-category .category-list>ul a span{
    position: absolute;
    right: 16px;
    font-size: 16px;
}
.site-header .site-search{
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .site-search form{
    position: relative;
    width: 296px;
    height: 50px;
}
.site-header .site-search form .search-text{
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    padding: 0px 10px;
    float: left;
}
.site-header .site-search form .search-btn{
    margin-left: -1px;
    width: 49px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: left;
    background-color: #fff;
}
.site-header .site-search form .search-key{
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 16px;
    right: 60px;
}
.site-header .site-search form .search-key a{
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    background-color: #eee;
}
.site-header .site-search form .search-key a:hover{
    color: #fff;
    background-color: #ff6700;

}

/* 小米商城站点内容 */
.site-content .site-slider{
    position: relative;
    z-index: 2;
}
.site-content .site-slider>a{
    display: block;
    width: 1226px;
    height: 460px;
}
.site-content .site-slider>a img{
    width: 1226px;
}
.site-content .site-slider span{
    position: absolute;
    width: 41.5px;
    height: 69px;
    background: url(../images/icon-slides.png) no-repeat 0 0;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
}
.site-content .site-slider span.prev{
    background-position: -83px 0;
    left: 234px;
}
.site-content .site-slider span.prev:hover{
    background-position: 0 0;
}
.site-content .site-slider span.next{
    background-position: -124.5px 0;
    right: 0;
}
.site-content .site-slider span.next:hover{
    background-position: -41.5px 0;
}
.site-content .slider-item{
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-align: right;
    width: 400px;
    height: 21px;
}
.site-content .slider-item>a{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 6px;
    border: 2px solid #fff;
    border-color: rgba(255, 255, 255, .3);
}

/* 小米商城向导列表 */
.content-sub{
    margin-top: 20px;
    overflow: hidden;
}
.content-sub .content-channel{
    float: left;
    width: 234px;
    height: 170px;
}
.content-sub .content-channel ul{
    font-size: 12px;
    text-align: center;
    background-color: #5f5750;
}
.content-sub .content-channel ul li{
    float: left;
    width: 33.33%;
    height: 85px;
}
.content-sub .content-channel ul li a{
    display: block;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 12px;
}
.content-sub .content-channel ul li a i{
    font-size: 20px;
    display: block;
}
.content-sub .content-list{
    float: right;
    width: 992px;
}
.content-sub .content-list ul{
    width: 100%;
}
.content-sub .content-list ul li{
    float: left;
    width: 33.33%;
    text-align: right;
}
.content-sub .content-list ul li a{
    display: block;
    height: 170px;
}
.content-sub .content-list ul li a img{
    width: 316px;
    height: 170px;
}

.site-content .site-banner{
    margin: 22px 0px;
}
.site-content .site-banner a{
    display: block;
    width: 1226px;
    height: 120px;
}
.site-content .site-banner a img{
    width: 1226px;
    height: 120px;
}

/* 小米商城内容描述 */
.content-desc{
    background-color: #f5f5f5;
    padding-top: 22px;
}
.content-desc .container .box-hd{
    position: relative;
    height: 58px;
}
.content-desc .container .box-hd h2{
    font-size: 22px;    
    font-weight: 200;
    color: #333;
    line-height: 58px;
}
.content-desc .container .box-hd .more{
    position: absolute;
    top: 0;
    right: 0;
}
.content-desc .container .box-hd .more a{
    font-size: 16px;
    line-height: 58px;
    color: #424242;
}
.content-desc .container .box-hd .more a i{
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 6px;
    border-radius: 12px;
    background-color: #b0b0b0;
    color: #fff;
    font-size: 12px;
    vertical-align: 2px;
}
.content-desc .container .box-hd .more:hover a{
    color: #ff6700;
}
.content-desc .container .box-hd .more:hover a i{
    background-color: #ff6700;
}
/* 小米商城内容详情 */
.content-desc .box-bd .row-l{
    float: left;
    width: 234px;
}
.content-desc .box-bd .row-r{
    float: left;
    width: 992px;
}
.content-desc .box-bd .row-l a{
    display: block;
    width: 100%;
    height: 100%;
}
.content-desc .box-bd .row-l a img{
    width: 234px;
    height: 614px;
}
.content-desc .box-bd .row-r ul{
    overflow: hidden;
}
.content-desc .box-bd .row-r ul li{
    float: left;
    height: 260px;
    padding: 20px 0;
    background-color: #fff;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}