body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}
.site-topbar{
    width: 100%;
    height: 40px;
    background-color: #333;
}
.container{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.site-topbar .topbar-list{
    float: left;
}
.site-topbar .login{
    float: right;
}
.site-topbar .shop{
    float: right;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #b0b0b0;
    background-color: #424242;
    margin-left: 15px;
    width: 120px;
}
.site-topbar a{
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
}
.site-topbar a:hover{
    color: #fff;
}
.site-topbar span{
    color: #424242;
    margin: 0 .5em;
}