<div class="modal fade" id="modal_publish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>出版社信息</strong></h4>
      </div>
      <div class="modal-body">
        <form id="contentForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">出版社名称</label>
                <input type="text" class="form-control publish-name" id="name" name="name" placeholder="请输入出版社名称">
            </div>
            <div class="form-group">
                <label for="city">出版社城市</label>
                <input type="text" class="form-control publish-city" id="city" name="city", placeholder="请输入出版社的城市">
            </div>
            <div class="form-group">
                <label for="email">出版社邮箱</label>
                <input type="email" class="form-control publish-email" id="email" name="email" placeholder="请输入出版社邮箱">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-publish-save">保存</button>
      </div>
    </div>
  </div>
</div>